body {
    padding: 5px;
    font-family: "Hepta Slab";
}

a {
    color: #cf820e;
    text-decoration: none;
}

h1 {
    font-weight: bold;
    border-bottom: 4px solid #cf820e79;
    padding: 0 0 10px 0;
}

h2 {
    font-weight: bold;
    margin: 30px 0 0;
}
.container {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid#8ea81952;
}
#content {
    display: flex;
    flex-direction: column;
    float: right;
    width: 75%;
    padding: 0 0 0 30px;
}

#sidebar {
    width: 20%;
    padding: 10px;
    background: #efefef;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

p.date {
    color: rgba(158, 158, 158, 0.842);
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}
/* .step-links {
    background-color: rgba(0, 56, 37, 0.349);
    border-radius: 2px;
} */
/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}
input,
textarea {
    width: 75%;
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 0;
    padding: 6px 10px;
    font-size: 12px;
}
input[type="submit"] {
    width: 180px;
    border-radius: 7px;
    font-weight: bold;
    background: #cf820e;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment-zone {
    background: #efefef;
    box-shadow: #666;
}

.comment {
    padding: 10px;
    border-bottom: 4px solid #b3aaaa88;
}
.comment:nth-child(even) {
    background: #efefef;
}
.comment .info {
    font-size: 12px;
    color: #666;
}
